---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
    <!--- About Hero -->
    <section class="text-4xl font-bold">
        <div class="bg-black h-56 flex justify-center items-center text-white">
            <h1>About</h1>
        </div>
    </section>

    <section class="max-w-[1024px] m-auto my-16 bg-yellow-100">
        <article class="flex justify-between">
            <div class="w-1/2 p-8">
                <h1 class="text-4xl mb-4">Inspiration</h1>
                <p class="mb-8">
                    UCT, an institution with a diverse group of people, has many people who have many tastes in food and what they
                    consider fast food. Upon realisation, we noticed many did not even know what a <strong>Kota</strong> was.
                </p>
                
                <p class="mb-16">
                    From international students and even local students from Western Cape, Northern Cape, Eastern Cape, KwaZulu-Natal,
                    Mpumalanga. <strong>Kota</strong> - this fast food sandwich, from Gauteng is a quick meal that fills you up at an
                    affordable price. I put it upon myself to share it and make it better that even those that know about it are blown away.
                </p>
            </div>
            <div class="bg-black w-1/2"></div>
            <!-- <figure class="bg-black md:w-1/2">
                
            </figure> -->
        </article>
        <article class="flex justify-between">
            <div class="bg-black w-1/2"></div>
            <div class="w-1/2 p-4">
                <h1 class="text-4xl mb-4">Join Us</h1>
                <p class="mb-8">
                    <q>The best love language is sharing food.</q>
                    - Owner
                </p>
                <p>Get your own now! Get it for a friend. Enjoy the vibes</p>
                <button class="py-4 px-9 font-bold bg-yellow-500 rounded-3xl hover:bg-red-600 text-black hover:text-white my-12">Order Now</button>
            </div>
           
            <!-- <figure class="bg-black md:w-1/2">
                
            </figure> -->
        </article>
    </section>
</BaseLayout>