---
import DashboardLayout from "../layout/DashboardLayout.astro";
import {ProductComponent} from "../components/angular/product/product.component";
---

<DashboardLayout>
    <section>
        <ProductComponent client:load/>
    </section>
</DashboardLayout>
../components/angular/menu/product.component