---
import BaseLayout from '../layout/BaseLayout.astro';
import { Image } from 'astro:assets';

//images
import headerPic from '../assets/header.jpg';
import displayFirst from '../assets/display-1.jpg'
---


<BaseLayout>
	<section class="h-85v bg-index-hero bg-center bg-cover">
        <div class="h-85v bg-black bg-opacity-50 w-full flex justify-center items-center">
            <div class="text-center text-white ">
                <h1 class="text-[60px] mb-4">DELICIOUS AND KASI-FIED</h1>
                <button class="py-4 px-9 font-bold bg-yellow-500 rounded-3xl hover:bg-red-600 text-black hover:text-white mb-12">Order Now</button>
                <p>Get 5% off on Mondays. Code  KOTA55</p>
            </div>
        </div>
    </section>

    <section class="min-h-80v max-w-[1024px] m-auto">
        <div class="text-center mt-12">
            <h1 class="text-4xl font-bold my-8">New more options</h1>
            <div class="w-28 h-28 m-auto">
                <Image src={headerPic} alt=""/>
            </div>
        </div>
        
        <article class="p-4 flex flex-wrap justify-between">
            <div class="border min-w-52 max-w-60 max-h-96 text-center p-4 m-4">
                <figure class="p-2">
                    <div class="w-32 h-40 m-auto">
                        <Image src={displayFirst} alt=''/>
                    </div>
                    <figcaption>Vege Kota</figcaption>
                </figure>
               <p>R 55</p> 
               <button class="border rounded-xl hover:bg-red-400 px-8 py-4 hover:text-white">
                Order Now
               </button>
            </div>
            <div class="border min-w-52 max-w-60 max-h-96 text-center p-4 m-4">
                <figure class="p-2">
                    <div class="w-32 h-32 m-auto bg-black"></div>
                    <figcaption>Vege Kota</figcaption>
                </figure>
               <p>R 55</p> 
               <button class="border rounded-xl hover:bg-red-400 px-8 py-4 hover:text-white">
                Order Now
               </button>
            </div>
            <div class="border min-w-52 max-w-60 max-h-96 text-center p-4 m-4">
                <figure class="p-2">
                    <div class="w-32 h-32 m-auto bg-black"></div>
                    <figcaption>Vege Kota</figcaption>
                </figure>
               <p>R 55</p> 
               <button class="border rounded-xl hover:bg-red-400 px-8 py-4 hover:text-white">
                Order Now
               </button>
            </div>
        </article>
    </section>
    <section class="max-w-[1024px] m-auto">
        <div class=""></div>
    </section>
</BaseLayout>