---
const date: Date = new Date();
let year: number = date.getFullYear();
---

<footer class="bg-yellow-400 min-h-[12vh] p-4">
    <section class="flex flex-wrap justify-between gap-4 max-w-[1024px] m-auto mb-4">
        <article class="border p-4">
            <h1 class="font-bold">Delivery Time</h1>
        </article>

        <article class="border p-4">
            <h1 class="font-bold"> Contact</h1>
        </article>

        <article class="border p-4">
            <h1 class="font-bold">Delivery Time</h1>
        </article>

        <article class="border p-4">
            <h1 class="font-bold">Navigation</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </article>

    </section>
    <section class="text-center p-4">
        <p>&copy; {year} Kotalicious</p>
    </section>

</footer>