---
type nav = {
    name: string,
    link: string
}

const navList: nav[] = [
    {name: 'Home', link: '/'},
    {name: 'Menu', link: '/menu'},
    {name: 'Our Story', link: '/about'},
    {name: 'Contact', link: '/contact'},
    // {name: 'Home', link: '/'}

]

import image from '../assets/settings.png';
import { Image } from 'astro:assets';

const myImage: ImageMetadata = image;
---
<nav class="bg-yellow-500 text-xl">
    <ul class="hidden md:flex justify-around max-w-[1024px] m-auto p-2">
        {navList.map(item =>
            <li class="active:text-red-600"><a href={item.link}>{item.name}</a></li>
        )}
    </ul>

    <div class="md:hidden p-2">
        <button><Image alt='' src={image} format='avif' width="20" height="20"/></button>
    </div>
</nav>