---
const lebitso:string = 'Nicholas';
import Navigation from '../components/navBar.astro';
import Footer from '../components/footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href=""/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kotalicious</title>
	</head>
	<body>
		<header class="h-20v">
			<div class="hidden md:block bg-black text-white ">
				<section class="justify-between p-2 flex m-auto max-w-[1024px]">
					<div><p>LeviMakhiha@business.com</p></div>
					<article>Profile</article>
				</section>
			</div>
			<Navigation/>
			
		</header>
		
        <main class="min-h-80v ">
			<slot/>
		</main>
		<Footer/>
	</body>
</html>